/* app/components/InteractiveCake.module.css */
.cakeContainer {
    text-align: center;
    margin: 2rem 0;
  }
  
  .cakeTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ff65a3; /* Title color */
  }
  
  .cake {
    position: relative;
    display: inline-block; /* Center the cake */
  }
  
  .cakeImage {
    width: 300px; /* Adjust the width of the cake image */
  }
  